extends layout

block content
    .text-center
        h1.display-4 Email not confirmed
        p Please confirm your email before voting
        p Click <a href='/register'>here</a> if you need to register or resend the email
